<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del Autor</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${autor.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${autor.nombre}"></dd>

            <dt class="col-sm-2">Apellido</dt>
            <dd class="col-sm-10" th:text="${autor.apellido}"></dd>

            <dt class="col-sm-2">FechaNacimiento</dt>
            <dd class="col-sm-10" th:text="${#temporals.format(autor.fechaNacimiento, 'dd/MM/yyyy')}"></dd>

            <dt class="col-sm-2">Nacionalidad</dt>
            <dd class="col-sm-10" th:text="${autor.nacionalidad}"></dd>
        </dl>

        <a th:href="@{/autores/edit/{id}(id=${autor.id})}" class="btn btn-outline-info">Editar</a>
        <a th:href="@{/autores}" class="btn btn-outline-secondary">Regresar</a>
    </div>
</div>
