<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar categoría</h1>
    <h3>¿Deseas eliminar esta categoria?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${categoria.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${categoria.nombre}"></dd>

            <dt class="col-sm-2">Descripción</dt>
            <dd class="col-sm-10" th:text="${categoria.descripcion}"></dd>
        </dl>

        <form th:action="@{/categorias/delete}" method="post">
            <input type="hidden" name="id" th:value="${categoria.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger">
            <a th:href="@{/categorias}">Regresar</a>
        </form>

    </div>
</div>