<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles de la Categoría</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${categoria.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${categoria.nombre}"></dd>

            <dt class="col-sm-2">Descripción</dt>
            <dd class="col-sm-10" th:text="${categoria.descripcion}"></dd>
        </dl>

        <a th:href="@{/categorias/edit/{id}(id=${categoria.id})}" class="btn btn-outline-info">Editar</a>
        <a th:href="@{/categorias}" class="btn btn-outline-secondary">Regresar</a>
    </div>
</div>